@model IEnumerable<Web.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layoutindex.cshtml";

}

<div class="jumbotron">


    <img class="img-responsive" src="~/Content/img/download.jpg" alt="Chania">
    
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@item.ProductName</h2>
            <img src="@Url.Action("Details", new { ID = item.ID})" width="150" height="100" />
            <p>
                @item.Status
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Detail",new{ID = item.ID})">Learn more »</a></p>
        </div>
    }
</div>